body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
label {
    font-size: 17px;
    color: darkcyan;
    width: 150px;
}
output {
    font-size: 17px;
    color: darkcyan;
    width: 150px;
}

